* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
strong, .uppercase {
    font-weight: 700;
}
em {
    font-style: italic;
}
img, video {
    vertical-align: middle;
}

.emag-wrapper {
    font-family: 'NotoSerif', serif;
    margin-top: 46px;
}

.emag-header {
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.emag-nav {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 3.125vw;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    z-index: 1003;
    margin-left: auto;
    background-color: #02071b;
    padding: 20px 0;
    position: sticky;
    position: -webkit-sticky;
    top: 46px;
}
.emag-nav[data-tab="2"] {
    background-color: #000;
}
.emag-nav[data-tab="3"] {
    background-color: #e0ecfd;
    color: #000;
}
.emag-nav[data-tab="4"] {
    background-color: #0f0f0f;
}
.emag-nav[data-tab="5"] {
    background-color: #061627;
}
.emag-nav[data-tab="6"] {
    background-color: #000;
}
.emag-nav::after {
    content: '';
    display: block;
    clear: both;
}
/* .emag-nav.fixed {
    position: fixed;
    top: 46px;
} */
.emag-nav li {
    display: inline-block;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    float: left;
    width: calc(100% / 3);
}
.emag-nav li:last-child {
    border-right: none;
}
.emag-nav li.active {
    color: #d28216;
    background-color: #000;
}
/* .emag-nav li:nth-child(2).active {
    color: #d28216;
} */
.emag-nav li:nth-child(3).active {
    color: #165db7;
}
.emag-nav li:nth-child(4).active {
    color: #e77b54;
}

.emag-cover img {
    width: 100%;
}

.emag-sapo {
    margin-bottom: 20px;
}
.emag-sapo img {
    margin-top: 40px;
}
.emag-content img {
    width: 100%;
    margin-bottom: 25px;
}
.emag-content p {
    font-style: 16px;
    line-height: 28px;
    padding: 0 15px;
    margin-bottom: 25px;
}
.emag-content .heading {
    font-size: 20px;
    font-weight: 700;
    margin-top: 60px;
}
.emag-title {
    margin-top: 60px;
}
.emag-fullwidth {
    padding-top: 1px;
    background-color: #292929;
    color: #fff;
}

/* Tab */
.emag-tab {
    display: none;
}

.emag-tab[data-content="1"] {
    display: block;
    background-color: #02071b;
    color: #fff;
    padding-bottom: 1px;
}
.emag-tab[data-content="1"] .emag-title {
    font-weight: 700;
}

.emag-tab[data-content="2"] {
    background-color: #dbd6be;
    color: #783f04;
}

.emag-tab[data-content="3"] {
    background-color: #e0ecfd;
    color: #212336;
}
.emag-tab[data-content="3"].emag-tab-content {
    padding-top: 1px;
}

.emag-tab[data-content="4"] {
    background-color: #0f0f0f;
    color: #81a5a5;
}

.emag-tab[data-content="5"] {
    background-color: #061627;
    color: #f2efef;
}